## Given the table below, called 'orders', write code to show the average revenue by month by channel.

In [1]:
import pandas as pd

## Creating the data

In [2]:
data = {
    'order id': [1,2,3,4,5],
    'channel': ['online', 'online', 'in_store', 'in_store', 'online'],
    'date': ['2024-07-29','2024-06-20', '2024-07-22', '2024-06-07', '2024-05-25'],
    'month': ['07', '06', '07', '06', '05'],
    'revenue': [9087, 8767, 7564, 6453, 5654]
}

## Converting the dictionary in to a DataFrame

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   order id   channel        date month  revenue
0         1    online  2024-07-29    07     9087
1         2    online  2024-06-20    06     8767
2         3  in_store  2024-07-22    07     7564
3         4  in_store  2024-06-07    06     6453
4         5    online  2024-05-25    05     5654

## So lets solve the problem and go to the result

In [5]:
result = df.groupby(['month', 'channel'])['revenue'].mean().reset_index()
result.columns = ['Month', 'Channel', 'Avg_Revenue']
result

  Month   Channel  Avg_Revenue
0    05    online       5654.0
1    06  in_store       6453.0
2    06    online       8767.0
3    07  in_store       7564.0
4    07    online       9087.0